%header
  .header__main
    %h1.title Memo-calendar
    %h2.state ログアウト
.main
  .sidememo
    .sidememo__bar
      %i.fas.fa-plus
      %i.fas.fa-bars
  .front
    .calendar
      .calendar__main{style:"border-left-style: hidden;"}
      .calendar__tool
    .memo
      .memo__main
        .memo__main__day
          .memo__main__day__bar
      .memo__side