%header
  .header__main
    %h1.title Memo-calendar
    %h2.state ログアウト
.main
  .sidememo
    .sidememo__bar
  .front
    .calendar
      .calendar__main
      .calendar__tool
        .calendar__tool__bar
    .memo
      .memo__main
        .memo__main__day
          .memo__main__day__bar
        .memo__main__sub
          .memo__main__sub__bar
      .memo__side
        .memo__side__bar