%header
  .header__main
    %h1.title Memo-calendar
    .change
      .account
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
.main
  .sidememo
    .sidememo__bar
      .sidememo__bar__plus
        %i.icon.fas.fa-plus
      .sidememo__bar__bars
        %i.icon.fas.fa-bars
    .sidememo__space
      %ul#memo-box
        %div#memo-input
          %label.date{date:{label_id: 0 }}
  .front
    .calendar
      .calendar__main{style:"border-left-style: hidden;"}
      .calendar__tool
    .memo
      .memo__main
        .memo__main__day
          .memo__main__day__bar
            .memo__main__day__bar__eye
              %i.icon.far.fa-eye
            .memo__main__day__bar__bars
              %i.icon.fas.fa-bars
          .memo__main__day__space
      .memo__side