.icon{
  color: white;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.header__main{
  width: 100%;
  height: 40px;
  background-color: #222222;
  display: flex;
  position: relative;
  font-weight: bold;
  border-bottom: solid 0.5px white;
  h1{
    margin: auto;
    color: white;
    font-size: 25px;
  }
  .change{
    position: absolute;right: 5px;
    font-size: 20px;
    .account{
      width: 40px;
      height: 40px;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  .sidememo{
    width: 400px;
    height: 100vh;
    font-weight: bold;
    border-right: solid 1px white;
    background-color: #444444;
    &__space{
      height: 777px;
      padding: 10px;
      overflow: auto;
      &__box{
        background-color: #FFFFC0;
        width: 320px;
        padding: 5px;
        margin-bottom: 5px;
        overflow: auto;
        &__bar{
          font-size: 15px;
          text-align: center;
          padding-right: 24px;
          border-bottom: solid 1px #000000;
          position: relative;
          &__icon{
            height: 24px;
            width: 24px;
            position: absolute;right: 0px;
            cursor: pointer;
            &__delete{
              text-decoration: none;
            }
          }
        }
        &__time{
          font-size: 14px;
          text-align: end;
          border-bottom: solid 1px #000000;
        }
        &__memo{
          
        }
      }
    }
  }
  .front{
    width: 100%;
    height: 100vh;
    .calendar{
      width: 100%;
      height: 50vh;
      display: flex;
      font-weight: bold;
      border-bottom: solid 0.5px white;
      &__main{
        width: 100%;
        font-weight: bold;
        border: solid 1px #000000;
        overflow: auto;
        padding: 5px;
      }
    }
    .memo{
      width: 100%;
      height: 50vh;
      display: flex;
      &__main{
        width: 80%;
        display: flex;
        &__day{
          width: 100%;
          font-weight: bold;
          border-top: solid 1px #000000;
          &__bar{
            background-color: #444444;
            height: 26px;
            display: flex;
            justify-content: flex-end;
            &__plus{
              width: 26px;
              position: relative;
              font-weight: bold;
              border-left: solid 0.5px #555555;
              cursor: pointer;
            }
          }
          &__space{
            height: calc(50vh - 26px);
            overflow: auto;
          }
        }
      }
      &__side{
        width: 20%;
        font-weight: bold;
        border: solid 1px #000000;
        background-color: #D3D3D3;
        overflow: auto;
        padding: 2px;
        .update{
          font-weight: bold;
          border: solid 1px #000000;
          margin-bottom: 2px;
          li{
            font-size: 13px;
            border-bottom: solid 1px #000000;
            background-color: white;
          }
        }
      }
    }
  }
}