i{
  color: white;
}





.header__main{
  width: 100%;
  height: 40px;
  background-color: #222222;
  display: flex;
  position: relative;
  font-weight: bold;
  border-bottom: solid 0.5px white;
  h1{
    margin: auto;
    color: white;
    font-size: 25px;
  }
  h2{
    position: absolute;right: 10px;bottom: 5px;
    color: white;
    font-size: 13px;
  }
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  .sidememo{
    width: 400px;
    height: 100vh;
    font-weight: bold;
    border: solid 1px #000000;
    &__bar{
      background-color: #444444;
      height: 26px;
    }
  }
  .front{
    width: 100%;
    height: 100vh;
    .calendar{
      width: 100%;
      height: 50vh;
      display: flex;
      font-weight: bold;
      border-bottom: solid 0.5px white;
      &__main{
        width: 80%;
        font-weight: bold;
        border: solid 1px #000000;
      }
      &__tool{
        width: 20%;
        font-weight: bold;
        border: solid 1px #000000;
        background-color: #444444;
      }
    }
    .memo{
      width: 100%;
      height: 50vh;
      display: flex;
      &__main{
        width: 80%;
        display: flex;
        &__day{
          width: 100%;
          font-weight: bold;
          border-top: solid 1px #000000;
          &__bar{
            background-color: #444444;
            height: 26px;
          }
        }
      }
      &__side{
        width: 20%;
        font-weight: bold;
        border: solid 1px #000000;
        background-color: #222222;
      }
    }
  }
}